body{
    background-color: #eee;
}

.grid{
    /*display: inline-grid; Solo usará el ancho que tenga el elemento*/
    /* grid-template-columns: 1fr 2fr 3fr; */
    /* grid-template-columns: minmax(auto,50%) 1fr 3em; */
    /* grid-template-rows: minmax(100px, auto); */
    display: grid;

    /* grid-template-columns: 30px repeat(3, 1fr) 15px; */
    /* grid-template-rows: repeat(2, 50px); */
    grid-template-rows:
    repeat(2, [row-inicio] 50px [row-fin]);
    grid-template-columns:
    repeat(3, [col-inicio] 1fr [col-fin]);


    grid-gap: 15px;

}

.element{
    background-color: red;
}

.header{
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: col-inicio / col-fin 3;
    grid-row: row-inicio / row-fin 3;
}