*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  font-size: 1.5rem;
  background-image: url(https://goo.su/BqqH), url(https://goo.su/lnrG9);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: exclusion;
  background-size: cover;
  background-position-y: 0;
  background-position-x: center;
  background-color: #26291b;
  color: #e0d9d9;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


header {
  height: 10dvh;
  border-bottom: 1px solid #c0c0c0;
}

main {
  min-height: 80dvh;
}

section {
  background-color: #26291b93;
  border: 1px solid #c0c0c0;
  margin: 1%;
  padding: 1%;
}

.arcoiris {
  width: 20%;
  -webkit-filter: sepia(50%);
  filter: sepia(50%);
  margin: 1%;
  float: left;
}

p {
  margin-top: 1%;
}

footer {
  height: 10dvh;
  border-top: 1px solid #c0c0c0;
}