body{
    background-color: #eee;
}

/* ul li{
    list-style-type: square;
} */

ul{
    list-style-type: none;
    background-color: #ee89ee;
    border: solid 1px #cde;
    border-radius: 4px;
    padding-left: 0px;
}

li{
    border-bottom: solid 1px #cde;
    padding: 15px;
}