body{
    background-color: #eee;
}

.box{
    /* Transform tiene que aplicarse a un display block, sino no se aplica */
    position: relative;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;
    background-color: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    /* transform: rotate(-45deg); */
    /* transform: translate(50px, 10px); */
    /* transform: scaleY(1.05); */
    /* transform: scaleX(1.05); */
    /* transform: skewX(-5deg);
    transform: skewY(-25deg);
    transform: skew(-5deg, -25deg);  /*Simplificado*/ 
   

    /* 3D */
    /* transform: rotateX(60deg); */
    /* transform: rotateY(69deg); */
    /* transform: rotateZ(90deg); */

    /* Transición animada */
    transition: all 2.1s 0.5s;

}

.box:hover{
    transform: scale(1.5, 1.2);
    background-color: rgba(0, 0, 0, 0.1);
}