@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tektur:regular,500,600,700,800,900');


:root {
    --font-family-body: 'Roboto', sans-serif;
    --font-family-titulos: 'Poppins', sans-serif;
    --font-family-titulo-alt: 'tektur', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background-color: #1b1b1b;
    color: #ccc;
    overflow-x: hidden;
    font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-titulos);
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video {
    width: 100%;
    object-fit: cover;
}

/* *************** ----- *********************/

#uno {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../img/tunel.jpg), url(../img/dbs.jpg) no-repeat top ;
    background-blend-mode: overlay;
    background-size: cover;
}

#uno form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
    border: 2px solid rgb(27, 78, 61);

}

#uno input{
    padding: .5em;
    margin: .3em;
    border-radius: 1em;
}

#uno button{
    padding: .5rem 1rem;
    font-size: 1.5rem;
    margin: 1% 0;
    border-radius: 1em;
}

#salida {
    background-color: #1b1b1b71;
    width: 30%;
    padding: 5%;
    position: fixed;
    top: 5%;
    left: 98%;
    transform: translate(-100%, 0);
    border: 2px solid rgb(27, 78, 61);
}