.grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 200px 100px;

    /* Para la implícita */
    /* grid-auto-rows: 300px; */
    /* Respeta el tamaño de las columnas */
    /* grid-auto-columns: 300px; */
    /* Permite detectar y cambiar el flujo de los elementos */
    /* grid-auto-flow: column; */
    grid-auto-flow: dense;
    /* dense: administra y rellena los espacios vacíos */

}

.grid .span2{
    background: #8a3bb5;
    /* valor span = expandirse */
    grid-column: span 2;
}

.grid .span3{
    background: #077410;
    grid-column: span 3;

}

